html{
    background: #00011D;
}

body{
    font-family: 'EB Garamond', serif;
    color: #E0E9FF;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 84px;
    text-align: left;

    padding-left: 0.5em;
    padding-right: 0.5em;
}

a{
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

a:visited{
    color: #E0E9FF;
}

a:hover{
    color:gold;
}

a:active{
    color: #90affd;
}